@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* zinc theme */
    /* --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem; */

    /* gray theme */
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --success: 123 100% 90%;
    --success-foreground: 0 0% 0%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 210 20% 98%;
    --sidebar-foreground: 216.9 19.1% 26.7%;
    --sidebar-primary: 220.9 39.3% 11%;
    --sidebar-primary-foreground: 210 20% 98%;
    --sidebar-accent: 220 14.3% 95.9%;
    --sidebar-accent-foreground: 220.9 39.3% 11%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    /* zinc theme */
    /* --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%; */

    /* gray theme */
    /* --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 70% 35.3%;
    --destructive-foreground: 0 46% 100%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 212.7 26.8% 83.9%;
    --success: 112.7 59.6% 69.8%;
    --success-foreground: 0 0% 0%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --sidebar-background: 220.9 39.3% 11%;
    --sidebar-foreground: 220 14.3% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 210 20% 98%;
    --sidebar-accent: 215 27.9% 16.9%;
    --sidebar-accent-foreground: 220 14.3% 95.9%;
    --sidebar-border: 215 27.9% 16.9%;
    --sidebar-ring: 217.2 91.2% 59.8%; */

    /* shark theme  */
    --background: 216 12% 8%; /* shark 950  */
    --foreground: 180 9% 98%; /* shark 50  */

    --card: 216 12% 8%; /* shark 950  */
    --card-foreground: 180 9% 98%; /* shark 50  */

    --popover: 216 12% 8%; /* shark 950  */
    --popover-foreground: 180 9% 98%; /* shark 50  */

    --primary: 210 13% 94%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 210 12% 20%; /* shark 800  */
    --secondary-foreground: 180 9% 98%; /* shark 50  */

    --muted: 210 12% 20%; /* shark 800  */
    --muted-foreground: 209 12% 63%; /* shark 400  */

    --accent: 210 12% 20%; /* shark 800  */
    --accent-foreground: 180 9% 98%; /* shark 50  */

    --destructive: 0 70% 35.3%;
    --destructive-foreground: 0 46% 100%;

    --border: 210 12% 20%; /* shark 800  */
    --input: 210 12% 20%; /* shark 800  */
    --ring: 212 12% 79%; /* shark 300  */

    --success: 112.7 59.6% 69.8%;
    --success-foreground: 0 0% 0%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --sidebar-background: 206 11% 12%; /* shark 900  */
    --sidebar-foreground: 210 13% 94%; /* shark 100  */
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 180 9% 98%; /* shark 50  */
    --sidebar-accent: 210 12% 20%; /* shark 800  */
    --sidebar-accent-foreground: 210 13% 94%; /* shark 100  */
    --sidebar-border: 210 12% 20%; /* shark 800  */
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Firefox */
* {
  scrollbar-width: thin; /* none | auto  */
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}
/* Firefox */

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: var(--scrollbar-width); /* vertical scrollbar */
  height: var(--scrollbar-width); /* horizontal scrollbar */
}

*::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

*::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: var(--scrollbar-width);
  border: calc(var(--scrollbar-width) / 4) solid var(--page-background);
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

.icon-task {
  @apply bg-shark-950 text-white dark:bg-shark-300 dark:!text-shark-900;
}
.icon-task-hive {
  @apply dark:text-shark-200;
}

::selection {
  @apply !bg-shark-600 text-white;
}
